
* {
  box-sizing: border-box;
}

#all{
  width: 100%;
  max-height: 100%;
  border: none;
  margin-top:20px;
}

#active {
  max-height: 100%;
  border: none;
  margin-top:20px;

}
#myUL button {
  float: right;
}
#myUL > li {
  list-style-type: none;
  border-bottom: 1px solid #c0c0c0;
}
#completed {
  max-height: 100%;
  border: none;
  margin-top:20px;

}


ul {
  margin: 0;
  padding: 0;
}


ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


ul li:nth-child(odd) {
  background: #f9f9f9;
}


ul li:hover {
  background: #ddd;
}


ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}


ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}


.header {
  background-color: #d9534f;
  padding: 30px 40px;
  color: white;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

#myInput {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
  color: #c0c0c0 !important;
  font-family: Arial;
}


.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}
h2{
  color: #c0c0c0 !important;
}

.all-button{
  position: relative;
  top:20px;
  margin-left: 20%;
}
.all-button button:nth-child(2),button:nth-child(3)  {
  margin-left: 10px;
}

input.ng-dirty.ng-invalid {
background: #d9534f;
}


