<div id="myDIV" class="header">
  <input  type="text" id="myInput" placeholder="Title..." [(ngModel)]="ToDoTitle" required>
  <span class="addBtn" style="width: 15%" (click)="CreateToDo()">Add</span>
  <br>
  <div class="all-button">
    <button type="button" class="btn btn-default addBtn" (click)="todoAll()">All</button>
    <button type="button" class="btn btn-default addBtn" (click)="todoActive()">Active</button>
    <button type="button" class="btn btn-default addBtn" (click)="todoCompleted()">Completed</button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div id="all" *ngIf="Allchange">
      <ul id="myUL">
        <li (click)="ToDoChange(todo.id,todo.status)" *ngFor="let todo of AllToDoList" [class.checked]="todo.status">
          {{todo.title}}
          <button class="btn btn-danger" (click)="DeleteToDo(todo.id)">x</button>
        </li>
      </ul>
    </div>

    <div id="active" *ngIf="Activechange">
      <ul id="myUL" *ngFor="let todo of AllToDoList">
        <li (click)="ToDoChange(todo.id,todo.status)" [class.checked]="todo.status"
            *ngIf="!todo.status"> {{todo.title}} <button (click)="DeleteToDo(todo.id)"  class="btn btn-danger">x</button></li>
      </ul>
    </div>

    <div id="completed" *ngIf="Completedchange">

      <ul id="myUL" *ngFor="let todo of AllToDoList">
        <li (click)="ToDoChange(todo.id,todo.status)" [class.checked]="todo.status"
            *ngIf="todo.status"> {{todo.title}} <button (click)="DeleteToDo(todo.id)" class="btn btn-danger">x</button></li>
      </ul>
    </div>
  </div>
</div>


